.alert {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 16px !important;
  color: #eaeaeaea;
  background: #333;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  height: fit-content;
}

.fade-in {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}
.fade-out {
  -webkit-animation: jello-horizontal-out 0.9s both;
  animation: jello-horizontal-out 0.9s both;
}

@media (max-width: 425px) {
  /* MOBILE */
  .alert {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 350px;
    border-radius: 25px 0px 25px 25px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /* TABLET */
  .alert {
    display: flex;
    max-width: 320px;
    position: sticky;
    left: 52%;
    top: 85px;
    z-index: 1111 !important;
    border-radius: 0px 25px 25px 25px;
  }
}
@media (min-width: 769px) {
  /* LAPTOP ~ DESKTOP */
  .alert {
    display: flex;
    max-width: 320px;
    position: absolute;
    left: 52%;
    top: 95px;
    z-index: 1111 !important;
    border-radius: 0px 25px 25px 25px;
  }
}

@-webkit-keyframes jello-horizontal-out {
  0% {
  }
  99% {
    margin-top: initial;
  }
  100% {
    margin-top: -60px;
  }
}
@keyframes jello-horizontal-out {
  0% {
  }
  99% {
    margin-top: initial;
  }
  100% {
    margin-top: -60px;
  }
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
