main {
  flex: 1;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

@media (max-width: 650px) {
  main ul {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1900px) {
  main ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
