.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 655px;
}

.search-container input {
  cursor: text;
  background: #ffffff;
  color: #7d40e7;
  font-weight: 900;
  border-radius: 20px 0px 0px 20px;
  padding: 8px 25px;
  flex: 3;
  border: 0px;
  margin-right: 0px;
}

.search-container #results {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a9a9a9;
  font-size: 12px;
  font-weight: 900;
  background: #ffffff;
  padding: 8px;
  border: 0px;
  margin: 0px;
}
.search-container #results img {
  margin-left: 3px;
}

.search-container input::placeholder {
  color: #d3d3d3;
}

.search-container button#search {
  margin-left: 0px;
  background: #ffffff;
  border-radius: 0px 0px 0px 0px;
  padding: 8px 8px;
  border: 0px;
  cursor: pointer;
}

.search-container button#search img {
  opacity: 0.6;
}
.search-container button#search img:hover {
  filter: sepia(100%);
  opacity: 1;
}

.search-container button#clear {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: darkgray;
  margin-left: 0px;
  background: #ffffff;
  border-radius: 0px 20px 20px 0px;
  padding: 8px 8px;
  padding-right: 11px;
  border: 0px;
  text-align: center;
  cursor: pointer;
}

.search-container button#clear img {
  opacity: 0.6;
}
.search-container button#clear img:hover {
  filter: sepia(100%);
  opacity: 1;
}
